
/* Your CSS Code here. */
 .flex-container {
      display: flex;
      flex-flow: row wrap;
      gap: 0px;
    }
    .container {
      display: flex;
      justify-content: center;
    }
    .flex-item {
	font-size:50px;
      height: 100px;
      width: 100px;
    }